.list-headings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 350px;
    padding-left: 20px;
}

.list-sub-heading {
    display: flex;
    margin-left: 70px;
    color: gray
}

.event-heading {
    color: lightgray
}
.group-heading {
    color: teal;
    text-decoration: underline;
}



.list-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    border-top: solid lightgray 2px;
    border-bottom: solid lightgray 2px;
    padding: 5px;
}

.list-items {
    display: flex;
    flex-direction: column;
    /* border-top: solid black 2px; */
    margin-left: 5px;
}

.preview-image {
    height: 150px;
    width: 200px;
    border-radius: 5px;
}

