
/* todo: fix layout of text */
.intro-container { 
    display: flex;
    flex-direction: row;
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.section1-img {
    height: 100px;
}



/* todo: adjust spacing */
.see-groups {
    margin-right: 10px;
}

.start-groups {
 margin-right: 10px;
}

.find-events {
    margin-left: 10px ;
    margin-right: 20px;
}