
/* todo: fix layout of text */
/* todo: might need to break things up into separate containers */
.landing-page-container {
    margin-left: 150px ;
    margin-right: 150px;
}

.intro-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: -20px;
    /* width: ; */
}

.section1-img {
    margin-top: 30px;
    margin-right: 40px;
    height: 200px;
    width: 300px;
}


.subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    margin-top: 20px;
}

.join-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 15px;
}

.join-button {
    padding: 10px 20px 10px 20px;
    background-color:  #ed1c40 ;
    box-shadow: 10px 5px 5px darkgray;
}


/* todo: adjust spacing */
.see-groups {
    display: flex;
    flex-direction: column;
    /* border: solid black 2px; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.see-groups-img {
    height: 100px;
    margin-bottom: 5px;
}

.start-groups {
    display: flex;
    flex-direction: column;
    /* border: solid black 2px; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    /* padding-bottom: ; */
    width: 350px;
}

.find-events {
    display: flex;
    flex-direction: column;
    /* border: solid black 2px; */
    justify-content: center;
    align-items: center;
    margin-left: 10px ;
    margin-right: 20px;
}



.isDisabled {
    cursor: 'default';
    color: lightgray;
}

.groups-icon {
    width: 100px;
    height: 200px;
}