.create-group-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    /* background-color: gray; */
    margin-bottom: 50px;
}

.create-group-form {
    width: 1000px
}

.form-info-containers {
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.input-and-validation {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: red;
    padding-bottom: 10px;
}

.input-and-validation-select {
    display: flex;
    flex-direction: column;
    width: 180px;
    color: red;
    padding-bottom: 10px;
}
