/* todo: fill this out */
.hidden {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    margin-top: -12px;
    padding-top: 10px;
    padding-right: 10px;
    /* background-color: gray; */
    border-bottom: solid 2px lightgray;
    margin-bottom: 50px;
}

.home-logo {
    display: flex;
    justify-content: flex-start;
    height: 60px;
    margin-left: -10px;
    padding-bottom: 10px
}


.user-info-options {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /* color: #ed1c40 */
    
    /* border: solid black 20px; */
}

.isDisabled {
    cursor: default;
    color: lightgray;
}

.start-group-button {
    /* fix postition at full screen */
    display: flex;
    justify-content: flex-end;
    /* margin-left: 650px; */
    margin-right: 10px
}

.nav-right {
    display: flex;
    flex-direction: row;
}
