/* todo: fill out some styles */
.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px 10px 10px;
    width: 400px;
    border-radius: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin-left: 40px;
    /* justify-content: space-evenly; */
    /* margin-left: 20px */
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    height: 50px;
    width: 300px;
    cursor: pointer;
}

.demo-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

.login-error-container {
    height: max(20px);
    margin-left: 20px;
}